html body {
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #53346D, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #53346D, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

div.intro {
    color: white;
    text-align: justify;
    padding: 30px;
    background: linear-gradient( rgba(80, 0, 246, 0.5), rgba(136, 13, 246, 0.5));
    width: calc(100% - 100px);
    margin: 30px auto;
    font-size: 20px;
    border-radius: 10px;
}

div.intro:hover {
    background: linear-gradient( rgba(80, 0, 246, 0.8), rgba(136, 13, 246, 0.8));
}

article.intro-and-facts img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 15px;
}

body article.intro-and-facts section.facts div {
     padding: 50px;
     margin-top: 5px;
     margin-bottom: 5px;
     color: white;
     vertical-align: top;
     width: 32%;
     display: inline-block;
     margin-right: 10px;
     border-radius: 10px;
}

body article.intro-and-facts section.facts div p {
    height: 100px;
    text-align: justify;
    font-size: 18px;
}

body article.intro-and-facts section.facts div h2 {
    margin-bottom: 30px;
    font-size: 28px;
}


body article.intro-and-facts section.facts div:nth-child(1) {
    background: rgba(255, 0, 0, 0.4);;
}

body article.intro-and-facts section.facts div:nth-child(2) {
    background: rgba(255, 0, 255, 0.4);;
}

body article.intro-and-facts section.facts div:nth-child(3) {
    background: rgba(0, 0, 255, 0.4);
}

body article.intro-and-facts section.facts div:nth-child(4) {
    background: rgba(255, 255, 0, 0.4);
}

body article.intro-and-facts section.facts div:nth-child(5) {
    background: rgba(93, 63, 182, 0.4);
}

body article.intro-and-facts section.facts div:nth-child(6) {
    background: rgba(0, 255, 0, 0.4);
}

body article.intro-and-facts section.facts div:nth-child(7) {
    background: rgba(255, 6, 108, 0.4);
}

body article.intro-and-facts section.facts div:nth-child(8) {
    background: rgba(39, 131, 197, 0.4);
}

body article.intro-and-facts section.facts div:nth-child(9) {
    background: rgba(187, 255, 17, 0.4);
}

body article.intro-and-facts section.facts div:nth-child(10) {
    background: rgba(255, 164, 255, 0.4);
}

body article.intro-and-facts section.facts div:nth-child(11) {
    background: rgba(255, 44, 44, 0.4);
}

body article.intro-and-facts section.facts div:nth-child(12) {
    background: rgba(0, 255, 0, 0.4);
}

article img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    float: left;
}

article.compare {
    margin: 30px auto;
    background: rgba(255, 0, 255, 0.4);
    width: 98%;
    border-radius: 10px;
    min-height: 2px;
    overflow: hidden;
}

article.compare h2{
    color: white;
    text-align: center;
    padding-top: 10px;
}

article.compare img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

div.content>div {
    margin: 10px 10px;
    width: 53%;
    display: inline-block;
    font-size: 25px;
}

div.content > div:first-child {
    padding: 40px;
}

div.content {
    display: flex;
    flex-flow: row;
    align-content: center;
    align-items: center;
    justify-content: center;
}
div.content div {
    width: 45%;
    font-size: 20px;
}

div.comparison ul {
    display: inline-block;
    width: calc(100% - 120px);
    position: relative;
    top: -20px;
    list-style: none;
}

div.comparison ul li{
    margin-bottom: 10px;
}

div.comparison div img {
    display: inline-block;
}

div.comparison {
    background: none;
}

div.comparison {
    display: inline-block;
    width: 48%;
    margin-bottom: 10px;
}

div.comparison div{
    display: inline-block;
    width: 100%;
    padding-bottom: 0px;
    font-size: 22px;
    padding: 20px;
}

div.comparison div img {
    left: 0;
    margin-bottom: 10px;
}

article.compare div {
    border-radius: 10px;
}

body div.content > div:first-child {
    background: rgba(255, 0, 255, 0.4);
}

body div.content > div:first-child:hover {
    background: rgba(255, 0, 255, 0.7);
}

body div.content div.comparison>div:last-child  {
    background: rgba(0, 255, 0, 0.4);
}

body div.content div.comparison>div:last-child:hover {
    background: rgba(0, 255, 0, 0.7);
}

body div.content div.comparison>div:first-child {
    background: rgba(0, 0, 255, 0.4);
}

body div.content div.comparison>div:first-child:hover {
    background: rgba(0, 0, 255, 0.7);
}


footer {
    color: white;
    text-align: center;
}

footer h2 {
    margin-bottom: 30px;
}

footer section {
    width: 300px;
    display: inline-block;
    border-radius: 10px;
}

footer section img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

footer a {
    display: inline-block;
    color: white;
    margin-right: 20px;
}

footer section.first {
    background: rgba(0, 0, 255, 0.4);
    padding: 30px 10px;
    margin-bottom: 20px;
}

footer section.second {
    background: rgba(93, 63, 182, 0.4);
    padding: 30px 10px;
    margin-bottom: 20px;
}

footer section.third {
    background: rgba(39, 131, 197, 0.4);
    padding: 30px 10px;
    margin-bottom: 20px;
}

footer div.chech-out {
    display: flex;
    flex-wrap: row;
    flex-grow: 1;
}

footer section.first:hover {
    background: rgba(0, 0, 255, 0.7);
    cursor: pointer;
    color: white;
}


footer section.second:hover {
    background: rgba(93, 63, 182, 0.7);
    cursor: pointer;
    color: white;
}

footer section.third:hover {
    background: rgba(39, 131, 197, 0.7);
    cursor: pointer;
    color: white;
}

body article.intro-and-facts section.facts div:nth-child(1):hover {
    background: rgba(255, 0, 0, 0.7);
}

body article.intro-and-facts section.facts div:nth-child(2):hover {
    background: rgba(255, 0, 255, 0.7);;
}

body article.intro-and-facts section.facts div:nth-child(3):hover {
    background: rgba(0, 0, 255, 0.7);
}

body article.intro-and-facts section.facts div:nth-child(4):hover {
    background: rgba(255, 255, 0, 0.7);
}

body article.intro-and-facts section.facts div:nth-child(5):hover {
    background: rgba(93, 63, 182, 0.7);
}

body article.intro-and-facts section.facts div:nth-child(6):hover {
    background: rgba(0, 255, 0, 0.7);
}

body article.intro-and-facts section.facts div:nth-child(7):hover {
    background: rgba(255, 6, 108, 0.7);
}

body article.intro-and-facts section.facts div:nth-child(8):hover {
    background: rgba(39, 131, 197, 0.7);
}

body article.intro-and-facts section.facts div:nth-child(9):hover {
    background: rgba(187, 255, 17, 0.7);
}

body article.intro-and-facts section.facts div:nth-child(10):hover {
    background: rgba(255, 164, 255, 0.7);
}

body article.intro-and-facts section.facts div:nth-child(11):hover {
    background: rgba(255, 44, 44, 0.7);
}

body article.intro-and-facts section.facts div:nth-child(12):hover {
    background: rgba(0, 255, 0, 0.7);
}

article.compare {
    color:white;
}

div.comparison > div {
    margin-bottom: 15px;
}

@media screen and (min-width: 1070px) {
    body article.intro-and-facts section.facts div:nth-child(3) {
        margin-right: 0;        
    }

    body article.intro-and-facts section.facts div:nth-child(6) {
        margin-right: 0;
    }

    body article.intro-and-facts section.facts div:nth-child(9) {
        margin-right: 0;
    }

    body article.intro-and-facts section.facts div:nth-child(12) {
        margin-right: 0;
    }

}

@media screen and (max-width: 985px) {
    body article.intro-and-facts section.facts div {
        width: 45%;
    }
}

@media screen and (max-width: 770px) {

    body article.intro-and-facts section.facts div {
        width: 95%;
        margin-left: 0px;
        margin-right: 0px;
        padding: 20px;
    }

    body article img {
        left: 25px;
    }

    body article.intro-and-facts section.facts div p {
        width: 80%;
    }
}

@media screen and (max-width:1750px) {
    div.content>div {
        width: 37%;
    }

    div.comparison {
        width: 50%;
    }

}

@media screen and (max-width:1900px) {
    div.content>div {
        width: 33%;
    }

    div.comparison {
        width: 50%;
    }

}


@media screen and (max-width:1654px) {
    div.content>div {
        width: 38%;
    }

    div.comparison {
        width: 50%;
    }

}

@media screen and (max-width:1536px) {
    div.content>div {
        width: 38%;
    }

    div.comparison {
        width: 50%;
    }

}

@media screen and (max-width:1530px) {
    div.content>div {
        width: 35%;
    }

    div.comparison {
        width: 46%;
    }

}


@media screen and (max-width:1497px) {
    div.content>div {
        width: 37%;
    }

    div.comparison {
        width: 52%;
    }

}

@media screen and (max-width:1477px) {
    div.content>div {
        width: 35%;
    }

    div.comparison {
        width: 53%;
    }
}

@media screen and (max-width:1470px) {
    div.content>div {
        width: 35%;
    }

    div.comparison {
        width: 52%;
    }
}



@media screen and (max-width:1451px) {
    div.content>div {
        width: 35%;
    }

    div.comparison {
        width: 55%;
    }
}

@media screen and (max-width:1397px) {
    div.content>div {
        width: 35%;
    }

    div.comparison {
        width: 56%;
    }
}

@media screen and (max-width:1372px) {
    div.content>div {
        width: 38%;
    }

    div.comparison {
        width: 50%;
    }
}


@media screen and (max-width:1351px) {
    div.content>div {
        width: 43%;
    }

    div.comparison {
        width: 56%;
    }
}

@media screen and (max-width:1351px) {
    div.content>div {
        width: 41%;
    }

    div.comparison {
        width: 54%;
    }
}

@media screen and (max-width:1338px) {
    div.content>div {
        width: 43%;
    }

    div.comparison {
        width: 54%;
    }
}


@media screen and (max-width:1117px) {
    div.content {
        width: 98%;
        display: block;
    }

    div.content>div {
        width: 100%;
    }

    div.comparison {
        width: 100%;
        margin: 10px 2%;
    }

    div.comparison div{
        width: 49%
    }

    div.comparison img {
        display: block;
        margin-left: calc(50% - 50px);
    }

    div.comparison ul {
        width: 100%;
        padding-left: 0;
        position: relative;
        padding-top: 15px;
    }
}








